.logo {
    margin-top: 44px;
    margin-bottom: 28px;
    color: #fff;
    font-size: 50px;
}

.logo-text {
    background: linear-gradient(#E18700, #FFD43E);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}